<div class="main-wrapper">
    <app-admin-navbar></app-admin-navbar>
    <div class="main-admin">
        <p-table [value]="items" [loading]="isTableLoading">
            <ng-template pTemplate="caption">
                <div class="p-d-flex p-ai-center p-jc-between">
                    Item
                    <p-button icon="pi pi-plus" (click)="addItemModal()"></p-button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Company</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
                <tr>
                    <td><a (click)="addItemModal(data.id)">{{data.id}}</a></td>
                    <td>{{data.name}}</td>
                    <td>{{data.description}}</td>
                    <td>{{data.companyName}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<div class="sidebar-overlay" data-reff=""></div>

<p-dialog  [(visible)]="isDialogOpen">
    <ng-template pTemplate="header">
        Item
    </ng-template>
    <div class="p-grid p-fluid">
        <div class="p-col-12 p-md-4">
            <div class="p-inputgroup">
                <input type="text" pInputText placeholder="Item Name" [(ngModel)]="itemModel.name">         
            </div>
        </div>
        <div class="p-col-12 p-md-4">
            <div class="p-inputgroup">
                <input type="textarea" pInputText placeholder="Item Description" [(ngModel)]="itemModel.description">
            </div>
        </div>
        <div class="p-col-12 p-md-4" *ngIf="!itemModel.id">
            <div class="p-inputgroup">
                <input type="textarea" pInputText placeholder="Company" [(ngModel)]="itemModel.companyName">
            </div>
        </div>
       
    </div>
    <ng-template pTemplate="footer">
        <p-button (click)="SaveItem()" [disabled]="!isFormValid()">Save</p-button>
    </ng-template>
</p-dialog>