<div class="main-wrapper">
    <app-admin-navbar></app-admin-navbar>
    <h1>@ViewData["Title"]</h1>

    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
                    <div class="dash-widget">
                        <span class="dash-widget-bg1"><i class="fa fa-tags" aria-hidden="true"></i></span>
                        <div class="dash-widget-info text-right">
                            <h3>@ViewBag.TagCount</h3>
                            <span class="widget-title1">Tags<i class="fa fa-check" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
                    <div class="dash-widget">
                        <span class="dash-widget-bg2"><i class="fa fa-user-o"></i></span>
                        <div class="dash-widget-info text-right">
                            <h3>@ViewBag.AdminCount</h3>
                            <span class="widget-title2">Admins<i class="fa fa-check" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
                    <div class="dash-widget">
                        <span class="dash-widget-bg3"><i class="fa fa-picture-o"></i></span>
                        <div class="dash-widget-info text-right">
                            <h3>@ViewBag.ImageCount</h3>
                            <span class="widget-title3">Albums<i class="fa fa-check" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
                    <div class="dash-widget">
                        <span class="dash-widget-bg4"><i class="fa fa-sitemap"></i></span>
                        <div class="dash-widget-info text-right">
                            <h3>@ViewBag.CategoryCount</h3>
                            <span class="widget-title4">Category<i class="fa fa-check" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
                    <div class="dash-widget">
                        <span class="dash-widget-bg4" style="background: #dc3545 !important;"><i class="fa fa-object-group"></i></span>
                        <div class="dash-widget-info text-right">
                            <h3>@ViewBag.ItemCount</h3>
                            <span class="widget-title2" style="background: #dc3545 !important;">Items<i class="fa fa-check" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
                    <div class="dash-widget">
                        <span class="dash-widget-bg4"><i class="fa fa-calendar"></i></span>
                        <div class="dash-widget-info text-right">
                            <h3>@ViewBag.EventCount</h3>
                            <span class="widget-title2">Events<i class="fa fa-check" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
                    <div class="dash-widget">
                        <span class="dash-widget-bg4"><i class="fa fa-list"></i></span>
                        <div class="dash-widget-info text-right">
                            <h3>@ViewBag.ArtiagoRegistrationCount</h3>
                            <span class="widget-title2">Artiago Registrations<i class="fa fa-check" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sidebar-overlay" data-reff=""></div>