
widget-purple {
    background: #6f42c1 !important;
}

widget-orange {
    background: #fd7e14 !important;
}

widget-pink {
    background: #e83e8c !important;
}

widget-red {
    background: #dc3545 !important;
}
widget-teal {
    background: #20c997 !important;
}

widget-cyan {
    background: #17a2b8 !important;
}

widget-pink {
    background: #e83e8c !important;
}

/*    --gray: #6c757d;
--gray-dark: #343a40;
--primary: #007bff;
--secondary: #6c757d;
--success: #28a745;
--info: #17a2b8;
--warning: #ffc107;
--danger: #dc3545;
--light: #f8f9fa;
--dark: #343a40;*/